{% extends "base.html" %}


{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/labeling.css") }}/>
        <script src={{ url_for("static", filename="js/labeling.js") }}></script>
    </head>

    <video controls controlsList="nofullscreen" disablepictureinpicture width="1280" height="720" id="videoPlayer">
        <source 
        src={{ url_for('static', filename=video_path) }}
        type="video/mp4">
    </video>


    {% for v in video_names %}
        <div>
            <p>
                <a href={{ url_for("labeling", datasetFolder = dataset, videoName = v) }}>
                    <b>{{ v }}</b>
                </a>
            </p>
        </div>
    {% endfor %}
{% endblock %}